@page "/catalog"
@using BlazorServerWebUI.Models.ViewModels;
@inject HttpClient httpClient
<PageTitle>Catalog</PageTitle>

<div>
    @foreach (var item in allCars)
    {
    
    }
</div>
@code {
    private List<CarViewModel> allCars = null!;

     protected override async Task OnInitializedAsync()
    {
        await FetchCarList();
        await base.OnInitializedAsync();
    }

    private async Task FetchCarList()
    {
        this.allCars = await httpClient.GetFromJsonAsync<List<CarViewModel>>("api/Car") ?? new();
    }
}
