@page "/catalog"
@using BlazorServerWebUI.Models.ViewModels;
@using System.Net.Http.Headers;
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject AuthenticationStateProvider authenticationStateProvider
<PageTitle>Catalog</PageTitle>


<div>
    <h1>Cars</h1>
    @if (allCars != null && allCars.Count != 0)
    {
        <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1066px;">
            @foreach (var car in allCars)
            {
                <CatalogItem Car="car"></CatalogItem>
            }
        </div>
    }
    else
    {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span class="visually-hidden" role="status">Loading...</span>
        <h4 class="text-center" colspan="5">No cars to display</h4>
    }
</div>

@code {
    private List<CarViewModel> allCars = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await FetchCarList();
    }

    private async Task FetchCarList()
    {
        try
        {
            allCars = await httpClient.GetFromJsonAsync<List<CarViewModel>>("api/Car");

        }
        catch (Exception ex)
        {
            
            Console.WriteLine(ex.Message);
        }
    }

    //private async Task FetchCarList()
    //{
    //    try
    //    {
    //        var customAuthStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
    //        var token = await customAuthStateProvider.GetToken();
    //        if (!string.IsNullOrWhiteSpace(token))
    //        {
    //            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
    //            allCars = await httpClient.GetFromJsonAsync<List<CarViewModel>>("api/Car");
    //        }
    //        else
    //        {
    //            navManager.NavigateTo("/login");
    //        }
    //    }
    //    catch (Exception ex)
    //    {
    //        Console.WriteLine(ex.Message );
    //    }
    //}
}