@page "/"
<PageTitle>Home</PageTitle>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Border hero with cropped image and shadows</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="img/pngwing.png" alt="" style="width: 100%">
      </div>
    </div>
  </div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
    </div>
</div><br><br>

<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post">
            <h2>Fitting a turnkey car</h2>
            <p>We check all lots from America according to a certain Checklist. We refuse to fit if the car does not meet at least one point.</p>
            <p>SpottyMotor managers select only the best cars at auctions. Our team takes into account all the wishes of the client and focuses on the selected budget. The fleet is checked by CARFax, Autocheck, Epic Win databases. Until the moment of participation in the auction, we already know everything about the former owners of the vehicle and the nature of its damage. For an additional fee, a master in the USA will inspect any car at auction, write a detailed report, take photos and send them to our office in Belarus.</p>
            <hr>

            <h2>All lots are insured</h2>
            <p>There is no good reason to worry about the car during transportation. Together with partners, SpottyMotor insures each car during transportation across the States, as well as by sea to the port of Klaipeda and to Belarus. Cars are insured against such troubles as fire, shipwreck, loss of cargo, theft, careless loading or unloading. The cost of insurance is calculated individually for each lot. You can find out more details from the company's managers at the conclusion of the contract.</p>
            <hr>

            <h2>Bidding on all auto auctions</h2>
            <p>Спортмотор-это бизнес-лизинг для участия в так называемом автоаукционе Copart, Страховой автоаукцион (IAAI), Манхейм. Наши специалисты могут участвовать в закрытых торгах за хорошие автомобили. При этом клиенты платят в два раза меньше комиссионных автоплощадок и экономят свой бюджет. Также мы сотрудничаем с поставщиками онлайнов-платками по продаже подержанных машин (EBAY и Cars Com, NPA, OVE.com , Трубопровод, Северная и Южная Америка).</p>
            <hr />

            
            <h2>6 stages of purchase</h2>
            <ol class="list-stages">
                <li><small><b>Car selection by parameters. </b>Selection of the car according to the parameters. You are considering the provided options for the make, model, configuration, mileage and appearance of the vehicle. Next, we proceed to the verification.</small></li>
                <li><small><b>Verification.</b> Checking the seller and the car. We check the information about the seller and see if he has participated in the auction before. It is also worth seeing how many owners the vehicle had and whether the car had an accident.</small></li>
                <li><small><b>Participation in the auction.</b> If no damage or other unpleasant moments were found, we start bidding according to the buyer's budget. We will also tell you about the additional costs of buying a car in the USA in stock.</small></li>
                <li><small><b>Car payment. </b>After successful bidding, we have two days to buy a car. To do this, we send you a receipt, which is paid through the Swift system. Only after that you can drive a car from the USA to the Republic of Belarus.</small></li>
                <li><small><b>Departure of the car. </b>Immediately after payment of the invoice, the car is picked up from the site and transported to the port and loaded onto the ship. Photos of the car before loading into the container are also sent.</small></li>
                <li><small><b>Customs clearance. </b>Our company is engaged in customs clearance and repair, if necessary. We can also register the car.</small></li>
            </ol>

            <p>This is an example blockquote in action:</p>
            <blockquote class="blockquote">
                <p>Quoted text goes here.</p>
            </blockquote>
            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
            <h3>Cars from the USA in Minsk and Belarus (RB)</h3>
            <p>SpottyMotor company offers to order a car delivery service from the USA at a bargain price. We not only transport vehicles, but also perform all the necessary actions for the registration of the car. Our organization performs a turnkey service – you just need to choose a car, and our employees will do the rest.</p>
            <h3>What types of services does our company offer?</h3>
            <ul>
                <li>Car selection at auctions.</li>
                <li>Delivery of cars from the USA.</li>
                <li>Customs clearance.</li>
                <li>Repair of an American car.</li>
            </ul>
            <h3>SpottyMotor is a reliable partner.</h3>
            <p>Our company has been working in the field of car delivery from the USA for 6 years. Over the years of fulfilling orders, we have worked out the algorithm of cooperation to an ideal state. More than 3,000 customers were satisfied with the quality of our service, as evidenced by positive reviews. We also have several offices for the delivery of cars from the USA in other regions.</p>
        </article>

        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
            <blockquote>
                <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
            </blockquote>
            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
            <h3>Example table</h3>
            <p>And don't forget about tables in these posts:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Upvotes</th>
                        <th>Downvotes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alice</td>
                        <td>10</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>4</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Charlie</td>
                        <td>7</td>
                        <td>9</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Totals</td>
                        <td>21</td>
                        <td>23</td>
                    </tr>
                </tfoot>
            </table>

            <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
            <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

            <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
            <ul>
                <li>First list item</li>
                <li>Second list item with a longer description</li>
                <li>Third list item to close it out</li>
            </ul>
            <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
            <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
        </nav>

    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fst-italic">The best auto auctions</h4>
                <p class="mb-0">We work with all popular online auctions from the USA.</p>
            </div>

            <div>
                <h6 class="fst-italic">Don't waste your time!</h6>
                <ul class="list-unstyled">
                    <ItemRightAsideBar ImagePath="img/mini1.png" MainHead="Best service" Body="Extensive experience, verification at all stages and an official contract are the key to our success."></ItemRightAsideBar>
                    <ItemRightAsideBar ImagePath="img/mini2.png" MainHead="Prices from $1" Body="Pricing depends on supply and demand, the average savings in Minsk is up to 40%"></ItemRightAsideBar>
                    <ItemRightAsideBar ImagePath="img/mini3.png" MainHead="The best cars" Body="When selecting cars, our experts recommend only the best cars to participate in the auction"></ItemRightAsideBar>
                    <ItemRightAsideBar ImagePath="img/mini4.png" MainHead="We will deliver from 25 days" Body="From an auction in America to the entrance of your house, a BU car is delivered on average from 25 days."></ItemRightAsideBar>
                </ul>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2021</a></li>
                    <li><a href="#">February 2021</a></li>
                    <li><a href="#">January 2021</a></li>
                    <li><a href="#">December 2020</a></li>
                    <li><a href="#">November 2020</a></li>
                    <li><a href="#">October 2020</a></li>
                    <li><a href="#">September 2020</a></li>
                    <li><a href="#">August 2020</a></li>
                    <li><a href="#">July 2020</a></li>
                    <li><a href="#">June 2020</a></li>
                    <li><a href="#">May 2020</a></li>
                    <li><a href="#">April 2020</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>